---
layout: blog-layout.njk
title: "Blog"
---

<h1>Blog</h1>
<p>Thoughts from outer space.</p>

<div class="links-stack">
{% for post in collections.post | reverse %}
    <a href="{{ post.url }}" class="link-btn" style="display:block; height: auto;">
        <span class="link-label" style="font-size: 1rem; font-weight: bold;">{{ post.data.title }}</span>
        <br>
        <span class="link-arrow" style="font-size: 0.8rem; color: var(--ctp-overlay1);">{{ post.date | date: "%Y-%m-%d" }}</span>
    </a>
{% endfor %}
</div>